* {
  margin: 0;
  padding: 0;
}
.headerContainer {
  width: 100% !important;
  display: flex;
}
.header {
  background-color: black;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 4rem;
  color: white;
  padding: 0.5rem;
  padding-bottom: 1rem;
  width: 100%;
  padding-right: 25rem;
}
.headLink {
  background-color: black;
  display: flex;
  width: 100%;
}
.headLink p:hover {
  transition: all 0.5s ease;
  color: yellowgreen;
  cursor: pointer;
}
.headLink p {
  margin: 2rem;
  color: white;
}
.Heading1, .Heading2 {
  transform: scale(0.8);
}
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.container {
  background: #1C1C1C;
  min-height: 19.57rem;
}
.todo-main {
  margin: 2rem;
  color: #2ECC71;
}
.todo-h3 {
  margin-bottom: 1rem;
  font-size: 25px;
}
.todo-title {
  color: rgb(221, 202, 30);
  margin-bottom: 5px;
  margin-top: 10px;
}
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 0.3rem;
}
.delete {
  background-color: red;
  border: none;
  border-radius: 5px;
  color: rgb(255, 207, 207);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 01px;
  padding: 5px;
}
.delete:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.411);
  transition: all 0.5s ease;
}
.noDisplay {
  color: rgb(221, 202, 30);
}
.footerContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: grey;
  padding: 1rem;
  font-family: 'Courier New', Courier, monospace;
  top: 20rem;
  font-weight: 900;
  letter-spacing: 1px;
}
.addTodo {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #1C1C1C;
}
.addHead {
  color: #2ECC71;
  margin-bottom: 1rem;
  font-size: 25px;
  font-weight: bold;
}
.addbtn {
  background-color: greenyellow;
  border: none;
  border-radius: 5px;
  color: red;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 01px;
  padding: 5px;
  width: 4rem;
  cursor: pointer;
  height: 2rem;
  margin-left: 2rem;

}
.addbtn:hover {
  background-color: rgba(172, 255, 47, 0.651);
  color: rgb(255, 230, 0);
  transition: all 0.5s ease;
}
.addtitle {
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
  padding: 0.4rem;
  width: 30rem;
}
.aboutContainer {
  min-height: 25.25rem;
  background-color: #1C1C1C;
  color: yellow;
  padding: 2rem;
  line-height: 1.4rem;
  letter-spacing: 1px;
}